@font-face {
    font-family: "JDZY";
    src: url('./问藏书房.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "JDZY";
    src: url('./三极泼墨体.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "melete";
    src: url('./Melete-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "EDIX";
    src: url('./EDIX.ttf');
    font-weight: normal;
    font-style: normal;
}